/* Global Styles */

@import url("//fonts.googleapis.com/css?family=Work+Sans:300,400,600");

html,body {
  background:#e9e9e9;
  color:#333;
  font-family:"Work Sans", sans-serif;
  line-height:1.4;
  height: 100%;
  width: 100%;
  text-align: center;
}

.FirstClass {
  color: #bbb;
}

.General {
  width: 60%;
  margin: 0 auto;
}

.GeneralForm {
  border: 1px solid #888;
  border-collapse: collapse;
  /* padding: 20px; */
  width: 60%;
  margin: 0 auto;
}

.GeneralForm * {
  margin: 20px;
}

.WatchGroup {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.ShowWatch {
  display: block;
  position: relative;
  border: 1px solid #888;
  border-collapse: collapse;
  margin: 20px;
  padding: 10px;
  width: 160px;
  height: 180px;
}

.del-sign {
  position: absolute;
  width: 20px;
  height: 20px;
  bottom: 10px;
  right: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.MyTimeFormat {
  font-size: 1.6rem;
}